 * {
    box-sizing: border-box;
 }

 .outer {
     width: 100%;
     height: 100%;
     display: flex;
     flex-flow: column;
     background-color: #201f1f;
 }

 .header {
     max-width: 1380px;
     width: 100%;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
 }

 .left,
 .right {
     display: flex;
     gap: 20px;
 }

 .header a {
     text-decoration: none;
     font-size: 18px;
     color: white;
     border-bottom: 2px solid transparent;
 }

 .header a:hover {
     border-bottom: 1px solid white;
 }

 .mein-container {
     flex-grow: 1;
     display: flex;
     flex-flow: column;
     align-items: center;
     justify-content: center;
 }

 .main-body {
     display: flex;
     flex-flow: column;
     width: 40%;
 }

 input {
     width: 100%;
     padding: 15px 10px;
     border-radius: 23px;
     color: white;
     background-color: #464747;
     margin-top: 20px;
     outline: none;
     border: none;
     font-size: 17px;
 }

 form :hover {
     background-color: #323232;
     color: white;
 }

 button {
     border: none;
     padding: 12px 10px;
     margin: 19px 9px;
     background-color: #3c3c3c;
     border-radius: 6px;
 }

 .button a {
     text-decoration: none;
     color: #ffffff;
     background-color: #3c3c3c;
 }

 .language {
     color: #aeadad;
     display: flex;
     align-items: center;
 }

 .language p {
     margin-right: 8px;
 }

 .language div a {
     color: #73b4f1;
     margin: 5px 3px;
     text-decoration: none;
 }

 .language div a:hover {
     border-bottom: 1px solid #73b4f1;
 }

 .footer {
     width: 100%;
     background-color: #151313;
 }

 .footer p{
     color: #ffffff;
    padding: 1px 17px;
 }

 .footer-link {
     display: flex;
     justify-content: space-between;
     border: 1px solid #3e3d3d;
 }

 .footer-link {
     padding: 11px 6px;
 }

 .footer-link a {
     text-decoration: none;
     color: white;
     margin: 7px;
 }

 .footer-link a:hover {
     border-bottom: 1px solid #ffffff;
 }