.border {
    border: 1px solid black;
}

html,
body {
    height: 100%;
   
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-body {
   height: 100%;
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}

.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}