.border {
    border: 1px solid black;
}

html,
body {
    height: 100%;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.header {
    flex-basis: 60px;
    flex-grow: 1;
    align-items: center;
}

h2 {
    flex-grow: 1;
    text-align: center;
}

.main-body {
    flex: 10;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.footer {
    flex-basis: 60px;
    flex-grow: 1;
}

.left {
    flex: 1;
    flex-flow: column;
}

.content-center {
    flex: 7;
}

.right {
    flex: 1;
}